<div class="card">
  <header>
    <span>Advice #</span>
    <span>
      @if (store.isFulfilled()) {
        {{ store.id() }}
      } @else if (store.isPending()) {
        <app-bar [width]="50" [height]="15" />
      }
    </span>
  </header>
  <main>
    @if (store.isFulfilled()) {
      {{ store.quotedAdvice() }}
    } @else if (store.isPending()) {
      <app-skeleton />
    } @else {
      {{ store.error() }}
    }
  </main>
  <footer>
    <app-line />
  </footer>
  <button (click)="store.getRandomAdvice()">
    <app-dice />
  </button>
</div>
